<div class="flex justify-between items-center flex-row mx-8 my-4">
    <div></div>
    <div class="flex justify-center text-5xl font-bold italic">F I L T E R</div>
    <div class="flex flex-row">
        <button class="rounded-full p-2 hover:bg-pink-200" (click)="register()">
            <mat-icon>
                <span class="material-symbols-outlined">person</span>
            </mat-icon>
        </button>
        <a href="./cart" class="rounded-full p-2 hover:bg-pink-200">
            <mat-icon>
                <span class="material-symbols-outlined">shopping_cart</span>
            </mat-icon>
        </a>
    </div>
</div>
<div class="flex flex-row justify-center mx-8">
    <button class="font-bold m-2 rounded-full p-2 hover:bg-pink-200">Lip Liner</button>
    <button class="font-bold m-2 rounded-full p-2 hover:bg-pink-200">Lipstick</button>
    <button class="font-bold m-2 rounded-full p-2 hover:bg-pink-200">Foundation</button>
    <button class="font-bold m-2 rounded-full p-2 hover:bg-pink-200">Eyeliner</button>
    <button class="font-bold m-2 rounded-full p-2 hover:bg-pink-200">Eyeshadow</button>
    <button class="font-bold m-2 rounded-full p-2 hover:bg-pink-200">Blush</button>
    <button class="font-bold m-2 rounded-full p-2 hover:bg-pink-200">Mascara</button>
    <button class="font-bold m-2 rounded-full p-2 hover:bg-pink-200">Eyebrow</button>
    <button class="font-bold m-2 rounded-full p-2 hover:bg-pink-200">Nail polish</button>
</div>
<div class="flex bg-cover justify-center px-24 items-center bg-center relative h-3/5 text-right" style="background-image: url('/dashpanel.png');">
    
    <div class="flex flex-col p-4 text-black items-center backdrop-blur-md bg-white bg-opacity-30 rounded-lg">
        <p class="text-5xl font-bold">New Bronze Age Bronzing Sticks</p>
        <div class="flex flex-row font-bold items-end gap-4">
            <p>Vitamin E & Meadowfoam Seed Oil</p>
            <p>Blondable & Buildable</p>
            <p>Contour & Shade</p>
                        
        </div>
        <a href="/store-page" class="w-2/3 mt-2">
            <button class="bg-black text-white p-2 rounded hover:text-pink-400 w-full">
                Shop our Store
            </button>
        </a>
    </div>
</div>

<div class="m-6 flex flex-col items-center pb-12">
    <p class="text-3xl">Clean Beauty Favorites</p>
    <div class="flex flex-row justify-evenly items-center">
        <div class="w-1/4">
            <img class="p-8 pb-2 w-full" src="/brand.png" alt="img">
            <div class="flex flex-col items-center">
                <button class="rounded-full p-2 hover:bg-pink-200">
                    <a href="/store-page"><p>SHOP <br> BY BRANDS</p></a>
                </button>
            </div>
        </div>
        <div class="w-1/4">
            <img class="p-8 pb-2 w-full" src="/fragrances.png" alt="img">
            <div class="flex flex-col items-center">
                <button class="rounded-full p-2 hover:bg-pink-200">
                    <a href="/store-page"><p>SHOP <br> FRAGRANCES </p></a>
                </button>
            </div>
        </div>
        <div class="w-1/4">
            <img class="p-8 pb-2 w-full" src="/makeup.png" alt="img">
            <div class="flex flex-col items-center">
                <button class="rounded-full p-2 hover:bg-pink-200">
                    <a href="/store-page"><p>SHOP <br> MAKEUP </p></a>
                </button>
            </div>
        </div>
        <div class="w-1/4">
            <img class="p-8 pb-2 w-full" src="/skincare.png" alt="img">
            <div class="flex flex-col items-center">
                <button class="rounded-full p-2 hover:bg-pink-200">
                    <a href="/store-page"><p>SHOP <br> SKINCARE </p></a>
                </button>
            </div>
        </div>
    </div>
</div>