<div class="flex flex-col md:flex-row">
  <div class="h-96 md:h-full md:w-1/4 p-4 bg-gray-100 rounded-lg shadow-lg">
    <h3 class="text-lg font-bold mb-4">Filter by Category</h3>
    <div class="grid grid-cols-2 grid-rows-5 md:grid-cols-1 md:grid-rows-10 gap-4">
      <div *ngFor="let category of categories" class="mb-2">
        <label class="flex items-center">
          <input
            type="checkbox"
            [checked]="isSelected(category)"
            (change)="toggleCategory(category)"
            class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out"
          />
          <span class="ml-2 text-gray-700">{{ formatCategoryName(category) }}</span>
        </label>
      </div>
    </div>
    
    <a href="./dashboard"><button class="mt-8 px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition">Back to Homepage</button></a>
  </div>

  <div class="md:w-3/4 p-4">
    <div class="flex justify-between">
      <h3 class="text-lg font-bold mb-4">Products</h3>
      <a [routerLink]="['/cart']" class="flex items-center px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition">
        <mat-icon class="mr-2">shopping_cart</mat-icon>
        Cart
      </a>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div *ngFor="let product of paginatedProducts" class="bg-white rounded-lg shadow-md p-4 flex flex-col items-center">
        <img [src]="product.api_featured_image" alt="{{ product.name }}" class="w-96 h-96 object-cover rounded-md mb-2" />
        <h4 class="font-semibold text-xl text-center">{{ product.name }}</h4>
        <p class="text-gray-600 text-center" [innerHTML]="getSafeDescription(truncateDescription(product.description))"></p>
        <p class="text-gray-500 text-center">Type: {{ formatCategoryName(product.product_type) }}</p>
        
        <a [routerLink]="['/product', product.id]" class="mt-4 px-4 py-2 bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition">
          View Product
        </a>
      </div>
    </div>

    <!-- Pagination controls -->
    <div class="mt-4 flex justify-center">
      <!-- Previous Page Button -->
      <button
        (click)="changePage(currentPage - 1)"
        [disabled]="currentPage === 1"
        class="mx-1 px-4 py-2 rounded-lg transition-colors bg-gray-200 hover:bg-gray-300"
      >
        &laquo;
      </button>

      <!-- Page Buttons -->
      <button
        *ngFor="let page of displayedPages"
        (click)="changePage(page)"
        [class.bg-indigo-600]="page === currentPage"
        [class.text-white]="page === currentPage"
        [class.bg-gray-200]="page !== currentPage"
        class="mx-1 px-4 py-2 rounded-lg transition-colors"
      >
        {{ page }}
      </button>

      <!-- Next Page Button -->
      <button
        (click)="changePage(currentPage + 1)"
        [disabled]="currentPage === totalPages"
        class="mx-1 px-4 py-2 rounded-lg transition-colors bg-gray-200 hover:bg-gray-300"
      >
        &raquo;
      </button>
    </div>
  </div>
</div>
