<div class="login-card">
    <div class="login">
        <label for="email">email</label>
        <input id="email" type="text" placeholder="enter email" [(ngModel)]="email">
        <label for="password">Password</label>
        <input id="password" type="text" placeholder="enter password" [(ngModel)]="password">
    </div>
    <button type="login" class="login-button" (click)="login()">Login</button>
    <div class="flex">
        <p class="no-account">Need an account? <a href="/register" class="no-account" style="text-decoration: none;">Register</a></p>
        <p class="forgot password"><a href="/forgot-password" class="no-account" style="text-decoration: none;">Forgot Password?</a></p>
    </div>
    <div>
        <button (click)="signInWithGoogle()">Sign in with Google</button>
    </div>
    
</div>